.pokemon-card {
  border-radius: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -3px -3px 10px rgba(255, 255, 255, 0.5);
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.modal-content {
  border-radius: 20px;
  background: #f8f9fa;
}

.modal-header, .modal-footer {
  border: none;
}
